<link href="http://cdn.phpoll.com/css/animate.css" rel="stylesheet">
<link href="/css/login.css" rel="stylesheet">
<!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Error 404's Nanotwitter</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/display"> Timeline</a></li>

        <li><a href="/profile/<%= session[:user].id.to_s%>">   <%= session[:user].name %>'s' Profile</a></li>
        <li><a href="/">Sign Out</a></li>
          <li>
            <form class="navbar-form" role="search">
     <div class="input-group">
         <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
         <div class="input-group-btn">
             <button class="btn btn-outline-success " type="submit">Submit</button>
         </div>
     </div>
     </form></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
	<div class="row">
		<div class="cn">
          <ol>
<div class="container-fluid">
                    <form action='/post_tweet' class="form-inline"  method='POST'>
        <label for="tweet" Username:/>
          <div class="form-group row">
      <input id="description"  class="form-control" name="tweet[text]" type="text" placeholder="What's happening?">
      <input type="hidden" name="tweet[time_created]" value="<%= Time.new.inspect%>">
      <input type="hidden" name="tweet[user_id]" value="<%= session[:user].id %>">
        <input class='btn btn-primary' type='submit' value='Tweet'>
      </div>
      </form>
</div>

        <%@tweets.each do |tweet|
          %>
        <div class="card">
            <div class="card-block">
              <div class="row">
                <a class="card-text" href="/profile/<%= User.find_by(id: tweet.user_id.to_s).id.to_s%>"><b><%= User.find_by(id: "#{tweet.user_id}").name %> </a></b> <%=tweet.time_created%></p>

                <% if tweet.user_id != session[:user].id

                  @unfollow=false
                %>

                  <%@followers.each do |follower|
                    %>
                    <% if follower.follower_id == session[:user].id && follower.user_id == tweet.user_id
                      @unfollow=true %>
                    <form method="POST" action="/unfollow">
                      <input type="hidden" name="unfollow[follower_id]" value="<%= session[:user].id %>">
                      <input type="hidden" name="unfollow[user_id]" value="<%= tweet.user_id  %>">
                      <input class='btn btn-primary' type='submit' value='Unfollow'>
                    </form>
                    <%end%>
                  <%end%>
                  <% if @unfollow ==false %>
                  <form method="POST" action="/follow">
                    <input type="hidden" name="follow[follower_id]" value="<%= session[:user].id %>">
                    <input type="hidden" name="follow[user_id]" value="<%= tweet.user_id  %>">
                    <input class='btn btn-primary' type='submit' value='Follow'>
</form>
                    <%end%>
                    <%end%>
                  </div>
                  <p class="card-text">  <%=tweet.text%></p>
                <form method="POST" action="/retweet">
                  <input type="hidden" name="retweet[tweet_id]" value="<%= tweet.id %>">
                  <input type="hidden" name="retweet[user_id]" value="<%= session[:user].id %>">
    <button class='btn' type='submit' style="background-color: Transparent;">  <span class="glyphicon glyphicon-retweet"></span></button>


</form>



            </div>
        </div>

        <br>
          <br>
        </li>
        <%end%>

        <%@retweets.each do |retweet|%>
        <div class="card">
            <div class="card-block float-right">
                <a class="card-text" href="/profile/<%= User.find_by(id: retweet.user_id.to_s).id.to_s%>"><b><%= User.find_by(id: "#{retweet.user_id}").name %></b></a> retweeted <a class="card-text" href="/profile/<%= User.find_by(id: Tweet.find_by(id: retweet.tweet_id.to_s).user_id.to_s).id %>"><b><%= User.find_by(id: "#{Tweet.find_by(id: "#{retweet.tweet_id}").user_id}").name %></b></a><%= Tweet.find_by(id: "#{retweet.tweet_id}").time_created %> </p> <p class="card-text">  <%=Tweet.find_by(id: "#{retweet.tweet_id}").text %></p>

                <form method="POST" action="/retweet">
                  <input type="hidden" name="retweet[tweet_id]" value="<%= retweet.id %>">
                  <input type="hidden" name="retweet[user_id]" value="<%= retweet.user_id %>">
                  <button class='btn' type='submit' style="background-color: Transparent;">  <span class="glyphicon glyphicon-retweet"></span></button>
</form>

            </div>
        </div>

        <br>
          <br>
        </li>
        <%end%>
      </ol>

        </div>
	</div>
</div>

<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
