<link href="http://cdn.phpoll.com/css/animate.css" rel="stylesheet">
<link href="/css/login.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Error 404's Nanotwitter</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="">About</a></li>
      </ul>
        <%if  session[:user] == nil %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="http://phpoll.com/register" class="dropdown-toggle" data-toggle="dropdown">Register <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-lr animated flipInX" role="menu">
            <div class="col-lg-12">
              <div class="text-center">
                <h3><b>Register</b></h3></div>
              <form id="ajax-register-form" action="/register" method="post" role="form" autocomplete="off">
                <div class="form-group">
                  <input type="text" name="user[name]" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                </div>
                <div class="form-group">
                  <input type="email" name="user[email]" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
                </div>
                <div class="form-group">
                  <input type="password" name="user[password]" id="password" tabindex="2" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                  <input type="password" name="user[confirm-password]" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                      <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-info" value="Register Now">
                    </div>
                  </div>
                </div>
                <input type="hidden" class="hide" name="token" id="token" value="7c6f19960d63f53fcd05c3e0cbc434c0">
              </form>
            </div>
          </ul>
        </li>

        <li class="dropdown">
          <a href="http://phpoll.com/login" class="dropdown-toggle" data-toggle="dropdown">Log In <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-lr animated slideInRight" role="menu">
            <div class="col-lg-12">
              <div class="text-center"><link href="http://cdn.phpoll.com/css/animate.css" rel="stylesheet">
<link href="/css/login.css" rel="stylesheet">
<!-- Latest compiled and minified CSS -->
                <h3><b>Log In</b></h3></div>
              <form id="ajax-login-form" action="/login" method="post" role="form" autocomplete="off">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="" autocomplete="off">
                </div>

                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" autocomplete="off">
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-5 pull-right">
                      <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-success" value="Log In">
                    </div>
                  </div>
                </div>

                <input type="hidden" class="hide" name="token" id="token" value="a465a2791ae0bae853cf4bf485dbe1b6">
              </form>
            </div>
          </ul>
        </li>
      </ul>
      <% else %>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/display"> Timeline</a></li>

          <li><a href="/profile/<%= session[:user].id.to_s%>"> Your Profile</a></li>
          <li><a href="/logout">Sign Out</a></li>
            <li>
              <form class="navbar-form" role="search">
       <div class="input-group">
           <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
           <div class="input-group-btn">
               <button class="btn btn-outline-success " type="submit">Submit</button>
           </div>
       </div>
       </form></li>
        </ul>
      </div>
      <%end%>
    </div>
  </div>
</nav>
<div class="container">
	<div class="row">
		<div class="cn">
            <ol>
              <%@hashtagtweets.each do |tweet|
                %>
              <div class="card">
                  <div class="card-block">
                    <div class="row">
                      <a class="card-text" href="/profile/<%= User.find_by(id: tweet.user_id.to_s).id.to_s%>"><b><%= User.find_by(id: "#{tweet.user_id}").name %> </a></b>
      <% if tweet.retweet_id != nil
        origintweet = Tweet.find_by(id: tweet.retweet_id) %>
      retweeted <a class="card-text" href="/profile/<%= User.find_by(id: origintweet.user_id.to_s).id.to_s%>"><b><%= User.find_by(id: "#{origintweet.user_id}").name %> </a>
        <%end%>
                      </b> <%=tweet.time_created%></p>


                        </div>
                        <% if tweet.retweet_id != nil %>
                            <p class="card-text">  <%= origintweet.text%></p>
                        <% else %>
                          <p class="card-text">  <%=@twitter_functionality.display_tweet(tweet)%></p>
        <%end%>
        <% if session[:user] != nil && tweet.user_id != session[:user].id %>
        <form method="POST" action="/retweet">
          <input type="hidden" name="retweet[text]" value="<%= tweet.text %>">
          <input type="hidden" name="retweet[retweet_id]" value="<%= tweet.id %>">
          <input type="hidden" name="retweet[user_id]" value="<%= session[:user].id %>">
          <input type="hidden" name="retweet[time_created]" value="<%= Time.new.inspect%>">
        <button class='btn' type='submit' style="background-color: Transparent;">  <span class="glyphicon glyphicon-retweet"></span></button>
        </form>
        <%end%>
                  </div>
              </div>

              <br>
                <br>
              </li>
              <%end%>
            </ol>

        </div>
	</div>
</div>
</div>

<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
